@charset "utf-8";
@font-face {
    font-family: 'Inter';
    src: url('Inter-VariableFont_opsz-wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
body {
	/* display: flex;
   	justify-content: center;
   	align-items: center;
  	min-height: 100vh;
  	margin: 0; */
	font-family: 'Inter', sans-serif;
	background-color: #FFF8DE;
	color: #AA5486;
	font-size: 22px;
}

.inter-mine {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
    text-align: center;
}

.card {
    width: 320px;
    height: 440px;
    perspective: 1000px;
    margin-bottom: 20px;
    position: relative;
    border: none;
}

.card .front, .card .back {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.6s;
}

.card .front {
    transform: rotateY(0deg);
}

.card .back {
    transform: rotateY(180deg);
    padding: 10px;
}

.card.flipped .front {
    transform: rotateY(-180deg);
}

.card.flipped .back {
    transform: rotateY(0deg);
}

button {
    width: 90%;
    padding: 12px;
    font-size: 16px;
    color: white;
    background-color: #AA5486;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #783A60;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.card .back ul#name-list li {
    margin-bottom: 10px; 
}

.list-item {
    cursor: pointer;
    transition: background-color 0.3s;
}

.list-item:hover {
    background-color: #f8d7da; /* Jasnoczerwony */
    color: #721c24; /* Ciemniejszy tekst */
}

footer {
    position: absolute;
    right: 0px;
    font-size: 12px;
    color: #AA5486;
}
