@charset "utf-8";
/* CSS Document */

html {
	font-size: 44px;
}
		
body {
	font-family: Inter;
	background-color: #FFF8DE;
	color: #AA5486;
}
/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900*/

.inter-mine {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.card {
    background-color: #ffffff; 
    padding: 20px 40px; 
    border-radius: 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    font-size: 44px; 
    color: #AA5486; 
}
